name: Validate with hassfest

permissions:
  contents: read

on:
  push:
  pull_request:
  schedule:
  - cron: 0 0 * * *

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
    - uses: home-assistant/actions/hassfest@4b258cf2bf1668d8e0adcb6b2be96b6cda36f42f # 1.0.0
